<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Account Info Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<link rel="stylesheet" href="/css/reset.css" />	
	<link rel="stylesheet" href="/css/style.css" />	
	<link rel="stylesheet" href="/css/leaflet.css" />	

</head>
<body>

<header>
	<div class="back"> <a href="/"></a> </div>
	<div class="appname"> GhostHunter</div>
	<div class="user">
		<a href="/account">
			<img class="image" src="<%= user.photos[0].value %>" alt="<%= user.displayName %>"/>
			<span class="text">
			 	+<%= user.name.givenName %>
			</span>
		</a>
	</div>

</header>


<h2><a href="../">home</a></h2>


<p>ID: <%= user.id %></p>
<p>Provider: <%= user.provider %></p>
<p>Name :<%= user.displayName %></p>

<p> familyName : <%= user.name.familyName %> <br />
 givenName : <%= user.name.givenName %> <br />
</p>
<p>gender: <%= user.gender  %></p>

<p>Email: <%= user.emails[0].value %></p>
<p>Image:
	<img src="<%= user.photos[0].value %>" width="50px" height="50px" alt="<%= user.displayName %>"/>
</p>
<br />
--<br />
That’s all we know.
<br />
-- So no Likes, e-mails, posts

</body>
</html>
