<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Dashboard Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<link rel="stylesheet" href="/css/reset.css" />	
	<link rel="stylesheet" href="/css/style.css" />	
	<link rel="stylesheet" href="/css/leaflet.css" />	
	<% if (cookies["phonegap"] == "true") { %>
		<link rel="stylesheet" href="/css/phonegap.css" />	
	<% } %>

<!-- debug feature using c*ies and auto redirect-->
<% if (!user) { %>
	<% if (cookies.debug == "true" && (cookies.provider === "facebook" || cookies.provider === "google") ) { %>
	<meta http-equiv="refresh" content="0; url=/auth/<%= cookies.provider %>">
	<% } %>
<% } %>
<% if (user) { %>
	<% if (cookies.debug == "true" && (cookies.provider === "facebook" || cookies.provider === "google") ) { %>
	<meta http-equiv="refresh" content="0; url=/game %>">
	<% } %>
<% } %>


</head>
<body>
<% if (!user) { %>


	<header>
		<div class="back">&nbsp;</div>
		<div class="user">
			<a href="/account">
				<img class="image" src="/images/fa-user.svg" alt="Unknown User"/>
				<span class="text">
				 	You
				</span>
			</a>
		</div>

	</header>

	<div id="map" class="login-map"></div>

	<div class="container login-box">

		<div class="login-small-box">
			<div class="login-name">
				<h1> GhostHunter </h1>
				<p>	a realtime open air ghost hunting game</p>
			</div>

			<div class="login-description">
			</div>

			<div class="login-logo"></div>
		</div>


		<div id="providers" class="login-small-box">
			<% if (cookies.provider === "facebook") { %>
				<a class="login-facebook" href="/auth/facebook">
					Log in with Facebook
				</a>
				<a class="login-google-low" href="/auth/google">
					Log in with Google
				</a>

			<% } else if (cookies.provider === "google") { %>
				<a class="login-google" href="/auth/google">
					Log in with Google
				</a>
				<a class="login-facebook-low" href="/auth/facebook">
					Log in with Facebook
				</a>
			<% } else { %>
				<a class="login-facebook" href="/auth/facebook">
					Log in with Facebook
				</a>
				<a class="login-google" href="/auth/google">
					Log in with Google
				</a>
			<% } %>
		</div>
		
		<div id="providers-disabled">
			Sorry, but you can't login
		</div>

		<div class="login-small-box info">

			This app requires your geo-location and access to your social media account.
		</div>


	</div>
	
	<div class="facebook-messenger">
		<img src="images/iconfinder-ios-share.svg" alt="ios share icon">
		Open in Safari <br />
		to continue
	</div>


<% } else { %>

	<header>
		<div class="back"> </div>
		<div class="user">
			<a href="/account">
				<img class="image" src="<%= user.photos[0].value %>" alt="<%= user.displayName %>"/>
				<span class="text">
				 	<%= user.name.givenName %>
				</span>
			</a>
		</div>

	</header>
	<div id="map" class="login-map"></div>


	<div class="container login-box">

		<div class="dashboard-name-box">
			<div class="dashboard-name">
				<h2> Welcome back, <br /> <%= user.displayName %> </h2>
			</div>

			<img src="<%= user.photos[0].value %>" width="50px" height="50px" alt="<%= user.displayName %>"/><br />

		</div>

		<div class="login-small-box">

			<a class="dashboard-login" href="../game">Start the game</a>

		</div>



	</div>
	<!-- dont forget phonegap -->

	<script type="text/javascript">
	
		if (!navigator.geolocation){
		    alert("Geolocation is not supported by your browser");
		}
		else {
			FirstFindGeoLocationDialog();
		}

		function FirstFindGeoLocationDialog () {
			navigator.geolocation.getCurrentPosition(success, error);
			function success(position) {}
			function error() {};	

		}//e/eFirstFindGeoLocation


	</script>


<% } %>

	<script type="text/javascript" src="js/leaflet.js"></script>
	<script type="text/javascript">

		if (!navigator.geolocation){
		    alert("Geolocation is not supported by your browser");
		}

		if (navigator.userAgent.indexOf("FBAN/MessengerForiOS") >= 0) {

			document.getElementById("providers-disabled").style.display = "block";
			document.getElementById("providers").style.display = "none";
			document.querySelector(".facebook-messenger").style.display = "block";

		};

		var map = L.map('map', { zoomControl:false }).setView([52.03851461021432, 6.150949001312256], 16);

		// Nokia Here Maps, Thanks: http://leaflet-extras.github.io/leaflet-providers/preview/
		L.tileLayer('https://{s}.{base}.maps.cit.api.here.com/maptile/2.1/maptile/{mapID}/normal.day.grey/{z}/{x}/{y}/256/png8?app_id={app_id}&app_code={app_code}', {
			// attribution: 'Map &copy; 1987-2014 <a href="http://developer.here.com">HERE</a>',
			subdomains: '1234',
			mapID: 'newest',
			app_id: 'Y8m9dK2brESDPGJPdrvs',
			app_code: 'dq2MYIvjAotR8tHvY8Q_Dg',
			base: 'base',
			minZoom: 16,
			maxZoom: 16
		}).addTo(map);

	// Disable drag and zoom handlers.
	map.dragging.disable();
	map.touchZoom.disable();
	map.doubleClickZoom.disable();
	map.scrollWheelZoom.disable();

	// Disable tap handler, if present.
	if (map.tap) map.tap.disable();


	</script>
</body>
</html>