<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Dashboard Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<link rel="stylesheet" href="/css/reset.css" />	
	<link rel="stylesheet" href="/css/style.css" />	
	<link rel="stylesheet" href="/css/leaflet.css" />	

</head>
<body>
<% if (!user) { %>


	<header>
		<div class="back">&nbsp;</div>
		<div class="appname"> GhostHunter</div>
		<div class="user">
			<a href="/account">
				<img class="image" src="/images/fa-user.svg" alt="Unknown User"/>
				<span class="text">
				 	+You
				</span>
			</a>
		</div>

	</header>

	<div id="map"></div>


	<script type="text/javascript" src="js/leaflet.js"></script>
	<script type="text/javascript">
		var map = L.map('map', { zoomControl:false }).setView([52.5463, 5.26245], 11);

		// Nokia Here Maps, Thanks: http://leaflet-extras.github.io/leaflet-providers/preview/
		L.tileLayer('https://{s}.{base}.maps.cit.api.here.com/maptile/2.1/maptile/{mapID}/satellite.day/{z}/{x}/{y}/256/png8?app_id={app_id}&app_code={app_code}', {
			// attribution: 'Map &copy; 1987-2014 <a href="http://developer.here.com">HERE</a>',
			subdomains: '1234',
			mapID: 'newest',
			app_id: 'Y8m9dK2brESDPGJPdrvs',
			app_code: 'dq2MYIvjAotR8tHvY8Q_Dg',
			base: 'aerial',
			minZoom: 11,
			maxZoom: 11
		}).addTo(map);

	// Disable drag and zoom handlers.
	map.dragging.disable();
	map.touchZoom.disable();
	map.doubleClickZoom.disable();
	map.scrollWheelZoom.disable();

	// Disable tap handler, if present.
	if (map.tap) map.tap.disable();


	</script>

	<div id="login">

		<% if (cookies.provider === "facebook") { %>
			<a class="login-facebook" href="/auth/facebook">
				Log in with Facebook
			</a>
			<a class="login-google-low" href="/auth/google">
				Log in with Google
			</a>

		<% } else if (cookies.provider === "google") { %>
			<a class="login-google" href="/auth/google">
				Log in with Google
			</a>
			<a class="login-facebook-low" href="/auth/facebook">
				Log in with Facebook
			</a>
		<% } else { %>
			<a class="login-facebook" href="/auth/facebook">
				Log in with Facebook
			</a>
			<a class="login-google" href="/auth/google">
				Log in with Google
			</a>
		<% } %>

		This app requires your geo-location and Facebook or Google account number.


	</div>

	<script type="text/javascript" src="js/index.js"></script>

<% } else { %>

	<header>
		<div class="back"> <a href="/"></a> </div>
		<div class="appname"> GhostHunter</div>
		<div class="user">
			<a href="/account">
				<img class="image" src="<%= user.photos[0].value %>" alt="<%= user.displayName %>"/>
				<span class="text">
				 	+<%= user.name.givenName %>
				</span>
			</a>
		</div>

	</header>

	<h2>Hello <%= user.displayName %>,</h2>
	<h2><a href="../game">START THE GAME</a></h2>

	<img src="<%= user.photos[0].value %>" width="50px" height="50px" alt="<%= user.displayName %>"/><br />
	
	<a href="/account">account info</a><br />
	<a href="/logout">logout</a>

	<script type="text/javascript" src="js/index.js"></script>


<% } %>
</body>
</html>