<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>GhostHunter - Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<link rel="stylesheet" href="/css/reset.css" />	
	<link rel="stylesheet" href="/css/style.css" />	
	<link rel="stylesheet" href="/css/leaflet.css" />	
	<% if (cookies["phonegap"] == "true") { %>
		<link rel="stylesheet" href="/css/phonegap.css" />	
	<% } %>

<!-- debug feature using c*ies and auto redirect-->
<% if (!user) { %>
	<% if (cookies.debug == "true" && (cookies.provider === "facebook" || cookies.provider === "google") ) { %>
	<meta http-equiv="refresh" content="0; url=/auth/<%= cookies.provider %>">
	<% } %>
<% } %>
<% if (user) { %>
	<% if (cookies.debug == "true" && (cookies.provider === "facebook" || cookies.provider === "google") ) { %>
	<meta http-equiv="refresh" content="0; url=/game %>">
	<% } %>
<% } %>

     <!-- Disable automatic phone number detection. -->
    <meta name="format-detection" content="telephone=no"> 
    <!-- thanks: https://gist.github.com/tfausak/2222823 -->
     <!-- iPad non-retina icon -->
    <link href="/images/favicon/apple-touch-icon-precomposed-76.png" sizes="76x76" rel="apple-touch-icon-precomposed"> 
     <!-- iPhone 6 Plus icon -->
    <link href="/images/favicon/apple-touch-icon-precomposed-180.png" sizes="120x120" rel="apple-touch-icon-precomposed"> 
     <!-- iPad retina icon -->
    <link href="/images/favicon/apple-touch-icon-precomposed-152.png" sizes="152x152" rel="apple-touch-icon-precomposed"> 

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/apple-touch-icon_16x16.ico">
    <link rel="shortcut icon" type="image/png" href="/images/favicon/apple-touch-icon-precomposed-96.png">   

</head>
<body>
<% if (!user) { %>


	<header>
		<div class="back">&nbsp;</div>
		<div class="user">
			<a href="/account">
				<img class="image" src="/images/fa-user.svg" alt="Unknown User"/>
				<span class="text">
				 	Jij
				</span>
			</a>
		</div>

	</header>

	<div id="map" class="login-map"></div>

	<div class="container login-box">

		<div class="login-small-box">
			<div class="login-name">
				<h1> Spokenjagers </h1> <!-- GhostHunter -->
				<p>Jaag in de echte wereld op virtuele spoken</p>
<!-- 				<p>	a realtime open air ghost hunting game</p>  -->
			</div>

			<div class="login-description">
			</div>

			<div class="login-logo"></div>
		</div>


		<div id="providers" class="login-small-box">
			<% if (cookies.provider === "facebook") { %>
				<a class="login-facebook" href="/auth/facebook">
					Log in met Facebook
				</a>
				<!-- 					Log in with Facebook -->
				<a class="login-google-low" href="/auth/google">
					Log in met Google
				</a>

			<% } else if (cookies.provider === "google") { %>
				<a class="login-google" href="/auth/google">
					Log in met Google
				</a>
				<a class="login-facebook-low" href="/auth/facebook">
					Log in met Facebook
				</a>
			<% } else { %>
				<a class="login-facebook" href="/auth/facebook">
					Log in met Facebook
				</a>
				<a class="login-google" href="/auth/google">
					Log in met Google
				</a>
			<% } %>
		</div>
		
		<div id="providers-disabled">
			Sorry, maar op dit moment is inloggen niet mogelijk
		</div>
		<!-- Sorry, but you can't login -->

		<div class="login-small-box info">

			Deze app vereist je geolocatie. Wij gebruiken je social media account alleen om je te kunnen herkenen.
			<!-- This app requires your geo-location and read-only access to your social media account. -->
		</div>


	</div>
	
	<div class="facebook-messenger">
		<img src="images/iconfinder-ios-share.svg" alt="ios share icon">
		Open in Safari <br />
		om verder te gaan
<!--		to continue -->
	</div>


<% } else { %>

	<header>
		<div class="back"> </div>
		<div class="user">
			<a href="/account">
				<img class="image" src="<%= user.photos[0].value %>" alt="<%= user.displayName %>"/>
				<span class="text">
				 	<%= user.name.givenName %>
				</span>
			</a>
		</div>

	</header>
	<div id="map" class="login-map"></div>


	<div class="container dashboard-box">

		<div class="dashboard-name-box">
			<div class="dashboard-name">
				<h2> Welkom terug, <br /> <%= user.displayName %> </h2>
				<!-- <h2> Welcome back, <br /> <%= user.displayName %> </h2> -->

			</div>

			<img src="<%= user.photos[0].value %>" width="50px" height="50px" alt="<%= user.displayName %>"/><br />

		</div>

		<div class="login-small-box">

			<a class="dashboard-login" href="../game">Start</a>

		</div>

		<div class="login-small-box">

			<div class="score">
				<h3>Score</h3>
				<p></p>
			</div>
			<div class="health">
				<h3>Leven</h3>
				<!-- <h3>Health</h3> -->
				<p></p>
			</div>
			<div class="money">
				<h3>Geld</h3>
				<p></p>
			</div>

		</div>

		<div class="login-small-box" id="users">
			<!-- <h3> Users playing right now</h3>  -->
			<h3> Gebruikers die nu actief zijn</h3>
		</div>

	<script type="text/javascript">

	String.prototype.replaceAll = function(str1, str2, ignore) {
	    return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
	} //e/replaceAll


		var score = "<%= score %>".replaceAll('&#34;','"')
		var money = "<%= money %>".replaceAll('&#34;','"')
		var health = "<%= health %>".replaceAll('&#34;','"')

		var	score = JSON.parse(score)
		var	money = JSON.parse(money)
		var	health = JSON.parse(health)

		console.log(score)
		console.log(money)
		console.log(health)

		var key = "<%= user.id %>";


		if (score[key] == null) {
			scoreYou = 0;
		}
		else {
			scoreYou = score[key]
		}

		if (money[key] == null) {
			moneyYou = 0;
		}
		else {
			moneyYou = money[key]
		}

		if (health[key] == null) {
			healthYou = 0;
		}
		else {
			healthYou = health[key]
		}

		document.querySelector(".score p").innerHTML = scoreYou;
		document.querySelector(".money p").innerHTML = "$" + moneyYou;
		document.querySelector(".health p").innerHTML = healthYou + "%";

	</script>


	</div>
	<!-- dont forget phonegap -->

	<script type="text/javascript">

		function calcCrow(lat1, lon1, lat2, lon2){
		    var R = 6371; // km
		    var dLat = toRad(lat2-lat1);
		    var dLon = toRad(lon2-lon1);
		    var lat1 = toRad(lat1);
		    var lat2 = toRad(lat2);

		    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
		    Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
		    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
		    var d = R * c;
		    return d;
		}
		// 1 == 1km

		// Converts numeric degrees to radians
		function toRad(Value){
		    return Value * Math.PI / 180;
		}	
	
		if (!navigator.geolocation){
		    alert("Geolocation is not supported by your browser");
		}
		else {
			FirstFindGeoLocationDialog();
		}


		var userData = "<%= userData %>".replaceAll('&#34;','"')
		var	userData = JSON.parse(userData);


		var readNameImage = "<%= readNameImage %>".replaceAll('&#34;','"')
		var	readNameImage = JSON.parse(readNameImage);


		function FirstFindGeoLocationDialog () {
			navigator.geolocation.getCurrentPosition(success, error);
			function success(position) {


				console.log(position.coords.latitude);
				console.log(position.coords.longitude);


		        Object.keys(userData).forEach(function(key) {
		        	

		        	if (key != "<%= user.id %>") {

			        		console.log(userData[key]);

		        		if (userData[key][0] != 0) {

			        		var distance = calcCrow(position.coords.latitude, position.coords.longitude, userData[key][0], userData[key][1])

	        		        var p = document.createElement("p");

	        		        var img = "<img src='" +  readNameImage[key][1] + "' alt='" +  readNameImage[key][0] + "'/>"

	        		        if (readNameImage[key][2] == "facebook") {
		        		        var providerPrefix  = "https://www.facebook.com/"
	        		        }
	        		        else if (readNameImage[key][2] == "google") {
		        		        var providerPrefix  = "https://plus.google.com/";
	        		        }
	        		        else {
	        		        	var providerPrefix = "#";
	        		        }

	        		        var a = "<a target='_blank' href='" + providerPrefix + key + "'>" + readNameImage[key][0] + "</a>"


	        		        p.innerHTML = img + " " + a + " <span>" + distance.toFixed(2) + " km</span>";
	        		        document.getElementById("users").appendChild(p);

						};

		        	};//e/key
		        });//e/e Object.keys

		        
		        if (document.querySelectorAll("#users p").length <= 0) {
    		        var p = document.createElement("p");
    		        p.innerHTML = "Er zijn nu geen spelers actief"
    		        // p.innerHTML = "There are no users playing now"

    		        document.getElementById("users").appendChild(p);
		        };


			}
			function error() {};	

		}//e/eFirstFindGeoLocation


	</script>

	<script type="text/javascript">

		// for people that can't find the most important button!
		window.onscroll = function(ev) {
		    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
		        document.querySelector(".dashboard-login").style.backgroundColor = "#B25F26"
		    }
		};

		setTimeout(function () {
	        document.querySelector(".dashboard-login").style.backgroundColor = "#B25F26"
		},6000);

	</script>


<% } %>

	<script type="text/javascript" src="js/leaflet.js"></script>
	<script type="text/javascript">

		if (!navigator.geolocation){
		    alert("Geolocation is not supported by your browser");
		}

		if (navigator.userAgent.indexOf("FBAN/MessengerForiOS") >= 0) {

			document.getElementById("providers-disabled").style.display = "block";
			document.getElementById("providers").style.display = "none";
			document.querySelector(".facebook-messenger").style.display = "block";

		};

		var map = L.map('map', { zoomControl:false }).setView([52.03851461021432, 6.150949001312256], 16);

		// Nokia Here Maps, Thanks: http://leaflet-extras.github.io/leaflet-providers/preview/
		L.tileLayer('https://{s}.{base}.maps.cit.api.here.com/maptile/2.1/maptile/{mapID}/normal.day.grey/{z}/{x}/{y}/256/png8?app_id={app_id}&app_code={app_code}', {
			// attribution: 'Map &copy; 1987-2014 <a href="http://developer.here.com">HERE</a>',
			subdomains: '1234',
			mapID: 'newest',
			app_id: 'Y8m9dK2brESDPGJPdrvs',
			app_code: 'dq2MYIvjAotR8tHvY8Q_Dg',
			base: 'base',
			minZoom: 16,
			maxZoom: 16
		}).addTo(map);

	// Disable drag and zoom handlers.
	map.dragging.disable();
	map.touchZoom.disable();
	map.doubleClickZoom.disable();
	map.scrollWheelZoom.disable();

	// Disable tap handler, if present.
	if (map.tap) map.tap.disable();


	</script>
</body>
</html>